
@model WebovaAplikace.Models.Kuryr


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1> Vysledek kalkulace </h1>
<p> V penezence kuryrovi zustane @Kuryr.celkem  </p>