@{
	ViewData["Title"] = "Privacy Policy";
}
<h6>@ViewData["Title"]</h6>

<h1>Na této stránce zadáte vaše hodnoty </h1>
<p> Pokud jste zapomněli, bude to: jméno, tržba, peněženka, dýška, tankování, nakupování  </p>



<div class="row">
	<div class="col-6">

		<div class="card">

			<div class="card-header">
				<h5>Kuryr 1 </h5>
			</div>
			
			
			
			
			<div class="card-body">
				<form>
					<div>
						<label class="form-label">Jmeno</label>
						<input type="text" class="form-control" />
					</div>



					<div>
						<label class="form-label">Penezenka </label>
						<input type="number" class="form-control" />
					</div>




				</form>
			</div>
			<div class="card-footer"></div>

	</div>







	




</div>






</div>